# Ficheiro: .ebextensions/02_nginx.config
# Adiciona uma configuração customizada ao Nginx para aumentar o tamanho do corpo da requisição.

files:
  "/etc/nginx/conf.d/99_custom_body_size.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Define o tamanho máximo do corpo da requisição do cliente para 2 megabytes.
      client_max_body_size 2M;

container_commands:
  01_reload_nginx:
    command: "sudo systemctl reload nginx"
    # Este comando recarrega o Nginx para que a nova configuração seja aplicada
    # sem interromper o serviço. Ele é executado durante o processo de deploy.